* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #020617;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    color: #FFFF00;
}

.box {
    width:700px;
    margin:15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 480px;
    /* margin-left: 360px; */
    margin-top: 15px;
    border-radius: 40px 40px 40px 40px;
    background: linear-gradient(135deg,
            #07112b,
            #0a1035,
            #05081f);
    border: 2px solid #60A5FA;

    box-shadow:
        0 0 10px rgba(96, 165, 250, .4),
        0 0 30px rgba(168, 85, 247, .3);
}

.b-heading{
    color: white;
    font-size: 25px;
    height: 10px;
    width: 250px;
    padding: 5px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 10px;
    color: #FACC15;
}

.b-ND{
    color: white;
    margin-left: 440px;
    width: 70px;
    padding: 7px;
    border-radius: 10px;
    color: black;
    height: 30px;
    text-align: center;
    background: rgba(20, 30, 70, .7);
    margin-top: 30px;
    border: 1px solid white;
}

.b-time {
    height: 110px;
    width: 490px;
    font-size: 105px;
    position: sticky;
    bottom: 290px;
    font-weight: bold;
}

.b-HMS{
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 60px;
    /* background-color: yell; */
    align-items: center;
    margin-right: 80px;
    margin-top: 15px;
}

.b-HMS h2 {
    /* margin-left: 40px; */
    color: white;
}

.b-main{
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-l {
    width: 290px;
    height: 90px;
    /* background-color: azure; */
    margin-top: 44px;
    color: wheat;
}

p {
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 900;
    margin-left: 70px;
    margin-top: 15px;
}

.main-r {
    /* background-color: blueviolet; */
    width: 300px;
    height: 100px;
    /* margin-bottom: 10px; */
    margin-top: 80px;
    margin-left: 20px   ;


}

.btn {
    width: 53%;
    height: 50%;
    padding: 5px;
    border-radius: 12px;
    background: rgba(20, 30, 70, .7);
    color: #FFFFFF;
    border: 1px solid #7C3AED;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    /* margin-top: 45px; */
}

.footer {
    width: 500px;
    height: 55px;
    /* background-color: rebeccapurple; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-weight: bolder;
    font-size: large;
    color: aliceblue;
}
